<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Изменить данные пользователя</title>
</head>
<body>

<h3>Изменить данные пользователя</h3>

<form th:method="PATCH" th:action="@{/users/{id}(id=${user.getId()})}" th:object="${user}">
    <input th:field="*{surname}" th:charset="UTF-8">
    <br>

    <input th:field="*{name}" th:charset="UTF-8">
    <br>

    <input th:field="*{age}" type="number">
    <br>

    <input type="submit" value="Изменить">
</form>

</body>
</html>